language: go
sudo: false
go:
 - 1.12.x
 - 1.13.x
before_install:
  - go get github.com/mattn/goveralls
  - go get github.com/prometheus/client_golang/prometheus
script:
 - $HOME/gopath/bin/goveralls -service=travis-ci -ignore cmd/pingpong/pingpong.go


  
